.red
  .wrapper
    .title
      Беспокоит боль в суставах и плохая подвижность?
      %br
      FLX - здоровье и гибкость Ваших суставов!


.wrapper
  .intro


%section
  .wrapper
    .left
      %h1
        Agel FLX — здоровые суставы

      %p
        Существует четыре компонента, которые зарекомендовали себя как «элексир» для суставов.
        Это —
        %strong Глюкозамин
        ,
        %strong Хондроитин
        ,
        %strong MCM
        ,
        %strong Целадрин.
        Ранее эти 4 компонента никогда не соединялись вместе, но теперь, благодаря технологии суспензированных гелей,
        это стало возможным!


      %p
        %strong
          Гелевая матрица Agel FLX сочетает в себе 4 высоко-эффективных компонента, которые ранее не соединялись!
        Теперь они заключены в удобную форму, в том количестве, которое максимально эффективно помогает
        организму восстанавливать межсуставную жидкость, хрящевые и другие соединительные ткани!


      %h2 Как поможет FLX

      %p
        Ученые создали
        %strong Agel FLX
        для того, чтобы максимально эффективно восстанавливать хрящевые ткани,
        межсуставную жидкость и снимать боль с суставов. В состав
        %strong FLX,
        входят лучшие компоненты,
        известные благодаря своей эффективности. Они находятся в активной дозировке — организм получает столько веществ,
        сколько необходимо. Биодоступность 96-98% гарантирует максимальное усвоение.

      %p
        На протяжении многих лет
        %strong FLX 
        помогает людям избавиться от тянущей боли, остеохондроза,
        артрита, разрушения хрящей и многих других заболеваний.
        %strong FLX
        неоднократно доказывал, доказывает и будет
        доказывать свою эффективность — он помог многим тысячам людей по всей планете.
        Этот суспензированный гель признан лучшим продуктом 2007 года в США среди 2000 товаров этой категории!


      %h2
        Плюсы и польза компонентов Agel FLX

      %p
        %ul
          %li
            %strong Глюкозамин
            — главный элемент структуры хондроитина, активизирует его выработку.

          %li
            %strong Хондроитин
            — главный компонент для построения хрящевой ткани, сберегающий её мягкость и гибкость, даёт защиту от ферментативного распада.

          %li
            %strong МСМ
            повышает качество коллагеновых связей, строит сильные и здоровые хрящи.

          %li
            %strong МСМ
            уменьшает болевые синдромы и препятствует воспалениям.

          %li
            %strong Целадрин,
            входящий в состав Agel FLX, увеличивает сплоченность клеточных мембран, снижая боли и воспаления ткани суставов имеющих повреждения.

          %li
            %strong Целадрин
            способствует выработке хорошей суставной смазки.

          %li Форма суспензированного геля даёт максимальную усваяемость питательных компонентов.

          %li Компоненты содержатся в эффективных пропорциях.

          %li
            Биодоступность Agel FLX -
            %strong 98%-100%




    .right
      .ololo
        %p
          %strong
            В 2007 году признан лучшим продуктом США
        %img{src: '/images/nagrada.jpg'}


      .ololo{style: 'background: red;'}
        %p
          %strong{style: 'color: #fff;'}
            Всего за 100 рублей в день ваши составы будут здоровы!


      .ololo
        %p
          %strong
            Закажите FLX прямо сейчас
        .form
          %input{type: :text, placeholder: 'Ваше имя'}
          %input{type: :text, placeholder: 'Ваш e-mail'}
          %input{type: :text, placeholder: 'Ваш телефон'}
          .button
            Заказать сейчас!


%section
  .wrapper

    .left

      .reports
        .report

          .report-avatar
            %img{src: '/images/avatar1.jpg'}

          .report-content
            .report-title
              Я довольна!

            .report-body
              %p
                Я давно пенсионерка. У меня была проблема больные суставы в коленях. Очень трудно
                было ходить по ступенькам вверх и вниз. Что бы отвлечь себя от боли, считала эти
                ступеньки! До сих пор помню их количество в тех местах, где ходила. Было так же
                сложно садиться на стул и вставать с него.

              %p
                Стала есть продукт AGEL FLX. Ела в течение
                10 месяцев подряд как базовый продукт. Примерно через три недели боль перестала
                беспокоить, но я продолжила употреблять продукт. И я получила еще один результат!
                На продукте FLX снизилось внутриглазное давление. В правом глазу было 40 ед., а в
                левом – 38 ед. Это при норме 19 – 23 ед. Через семь месяцев была приятно удивлена,
                так как давление снизилось до 23,4 ед. в правом глазу и 21 ед. - в левом.


              %p
                Продукт FLX работает не только с суставами, он работает со всей соединительной тканью, которая у
                нас есть повсюду. Я довольна результатами! Использую и другие продукты.

            .report-author
              Галина Рощина, г. Москва. Тел. +7 (926) 524-15-59


        .report
          .report-avatar
            %img{src: '/images/avatar2.jpg'}

          .report-content
            .report-title
              Результат просто фантастический!

            .report-body
              %p
                Я Алсу Нугманова и мне 56 лет. Проблемы осеохондроз и артрит мучили давно. Все
                средства не помогали или помогали кратковременно. После употребления AGEL FLX в
                течение одного месяца по 2 пакетика в день избавилась от боли в коленях и ногах. Через
                полгода употребления  AGEL FLX  решила проблему остеохондроза и артрита. Сейчас
                чувствую себя отлично! Лучше даже, чем в 30 лет!

            .report-author
              Алсу Нугманова, г.Королев, тел. +7 (926) 272-12-11



        .report
          .report-avatar
            %img{src: '/images/avatar3.jpg'}

          .report-content
            .report-title
              Боль прошла!

            .report-body
              %p
                Я по профессии - риэлтер. Уже несколько лет занимаюсь своим здоровьем - употребляю БАДы и хожу в фитнес-зал.

              %p
                Единственная проблема - беспокоили связки на ноге после тренировок - последствие серьезной травмы
                в коленном суставе. Когда начала пользоваться продукцией
                Agel - FLX, MIN, FIT, OHM и UMI (чередуя), заметила то, что забыла про боли в связках.

              %p
                Сегодня чувствую себя прекрасно!
                Оценила также простоту и удобство использования продукта Agel,
                что очень важно при моем активном стиле жизни.

            .report-author
              Георгиева Алла, 48 лет. г.Барнаул



      .final-form
        .final-form-header
          Закажите Agel Flx прямо сейчас!

        .final-form-body
          %input{type: :text, placeholder: 'Ваше имя'}
          %input{type: :text, placeholder: 'Ваш e-mail'}
          %input{type: :text, placeholder: 'Ваш телефон'}
          .button
            Заказать сейчас!



    .right

      .ololo
        %p
          %strong
            Наши сертификаты
          %a{href: '/images/sert/full/antidopping.pdf', target: '_blank'}
            %img{src: '/images/sert/doping.jpg'}

          %a{href: '/images/sert/full/kosher_certificate.pdf', target: '_blank'}
            %img{src: '/images/sert/sert2.jpg'}

          %a{href: '/images/sert/full/halal_certificate.pdf', target: '_blank'}
            %img{src: '/images/sert/halal.jpg'}

          %a{href: '/images/sert/full/certificate_superkosher.jpg', target: '_blank'}
            %img{src: '/images/sert/super-kosher.jpg'}
